#mainBody{
    width: 100%;
    text-align: center;
    position: relative;
}
#startBTN{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40%;
    left:40%
}
#charaSet{
    height: 100px;
    position: relative;
}
#mainChara{
    background-color: aqua;
    width: 100px;
    height: 100px;
    left:33%;
    bottom:0;
    position: absolute;
}
#arrowSet{
    position: relative;
    height: 100px;
}
.arrowInstance{
    bottom:0;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
}
#arrowLeft{
    left:0;
}
#arrowRight{
    right:0;
}
#itemSet{
    height: 400px;
    position: relative;
}
#item1{
    position: absolute;

}
#item2{
    left:40%;
    position: absolute;

}
#item3{
    left:70%;
    position: absolute;

}